*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

body {
    /* space */
    min-height: 100vh;
    width: 89%;
    margin: 0 auto;
    padding: 2rem;
    /* font and color */
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
    /* 18px */
    font-weight: 300;
    color: hsl(0, 0%, 100%);
    background-color: hsl(217, 54%, 11%);
    position: relative
}

/*############################################################*/
/* ARTICLE */

article {
    /* size */
    width: 80%;
    /* space */
    padding: 1.7% 1.5% 1% 1.5%;
    /* color and border */
    background-color: hsl(216, 50%, 16%);
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.125rem 0.563rem hsl(216deg 50% 10%);
    /* 0 4 2 9px */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/*#####################*/
.title-link a,
.avatar-description a {
    /* color and decoration */
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

h1 {
    font-weight: 600;
}

p {
    color: hsl(215, 48%, 73%);
}

/*####################*/
.image-cube {
    /* position */
    position: relative;
    width: 100%;
}

.image-cube,
.title-link,
.title-link + section {
    margin-bottom: 1rem
}

/*#############
        /* first child of section.image-cube */
.image-cube img {
    /* size and border */

    max-width: 100%;
    max-height: 200px;
    border-radius: 0.75rem;
    /*12px*/
    /* space */
    margin: 0 auto;
    /* position and block */
    display: block;
    position: relative;
    z-index: 2
}

/*#############
        /* second child of section.image-cube */
.image-cube p {
    /* color */
    background-color: hsla(178, 100%, 50%, 0.5);
    /* size and border */
    width: 100%;
    height: 100%;
    border-radius: 0.85rem;
    /* 13.5px */
    /* space */
    margin: 0 auto;
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    /* position */
    position: absolute;
    top: 0;
    z-index: 1;
}

p svg {
    margin: 0 auto;
}

/*################################################################*/
/* ###### ACTIVE STATES #### */
.title-link a:active,
.avatar-description a:active {
    /* color */
    color: hsl(178, 100%, 50%);
}

.image-cube img:active {
    z-index: 0;
}

/*#####################*/
.time-diamond {
    /* space */
    margin: 0 auto;
    padding: 1rem 0 0.625rem 0;
    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border */
    border-bottom: thin solid hsl(215, 32%, 50%);
}

/*#########
        /* first child of section.time-diamond */
.time-diamond div:nth-of-type(1) {
    /* space */
    margin-bottom: 0.8rem;
    /* 14.5px */
    /* typographie and color */
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

/*##########
        /* second child of section.time-diamond */
.time-diamond div:nth-of-type(2) {
    font-weight: 400;
    margin-bottom: 0.8rem;
    /* 14.5px */
}

.time-diamond div {
    display: flex;
    align-items: center;
    gap: .5rem;
}


/*#########################
        /* second.avatar-description is the third item of the container #article */
.avatar-description {
    /* space and typographie */
    width: 100%;
    margin-bottom: 1rem;
    padding-top: .7rem;
    font-size: 1rem;
    /* 15.5px */
    /* flex */
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

/*##########
        /* first child of section.avatar-description */
.avatar-description p {
    margin-left: 0;
    margin-right: 0;
    flex: 1;
    text-align: left;
}

/*##########
        /* second child of section.avatar-description */
.avatar-description img {
    /* size */
    width: 15%;
    height: 15%;
    /* space */
    margin-right: 0;
    margin-left: 0;
}

/*############################################################*/
/* FOOTER */
.footer {
    /* typographie */
    font-size: 0.8125rem;
    /* 11px */
    text-align: center;
}

.footer a {
    /* color */
    color: hsl(228, 57%, 73%);
}

/*############################################################*/
/* MOBLE DESIGN */
@media screen and (min-width: 31.25em) {
    body {
        font-family: 'Outfit', sans-serif;
        /* font and color */
        font-size: 1.125rem;
        /* 18px */
    }

    article {
        width: 39%;
    }

    /* ###### ACTIVE STATES #### */
    .title-link a:active,
    .avatar-description a:active {
        /* color */
        color: hsl(178, 100%, 50%);
    }

    .image-cube img:active {
        z-index: 0;
    }

    .time-diamond {
        /* space */
        padding-bottom: 0.313rem;
    }
}

/*############################################################*/
/* DESKTOP DESIGN */
@media screen and (min-width: 62.5em) {
    article {
        width: 25%;
    }
}
